.RunWindow {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-top {
    flex: 1;
  }

  &-bottom {
    height: 300px;
    background-color: aliceblue;
    display: flex;
    &Left {
      flex: 1;
      overflow: hidden;
    }
    &Right {
      flex: 0 0 300px;
    }
  }
}
