.RunUnit {
  display: flex;
  height: 100%;
  flex-direction: column;
  &-head {
    font-size: 14px;
    display: flex;
    align-items: center;
    flex: 0 0 48px;
    height: 48px;
    padding: 0 16px;
    .RunUnit-chrome {
      display: flex;
      align-items: center;
      .ant-input {
        width: 150px;
      }
      .ant-result {
        padding: 0;
        margin: 0;
        margin-right: 10px;
      }
      .ant-result-icon {
        margin: 0;
        .anticon {
          font-size: 20px;
        }
      }
    }
    .RunUnit-action {
      justify-content: flex-end;
      flex: 1;
      display: flex;
      align-items: center;
    }

    .RunUnit-page {
      display: flex;
      align-items: center;
      &Select {
        width: 250px;
      }
    }
  }

  &-body {
    flex: 1;
    overflow: auto;
  }
}
